/*reset*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: 400;
    background-color:#d1ebf7;;
}
/*header*/
.header{
    display: flex;
    height: 100px;
    padding: 8px, 10%;
    align-items: center;
    justify-content: space-between;
    background-color: #d1ebf7;
}
header img{
    margin: 0%;
    padding: 0%;
    height: 100px;
    cursor: pointer;
    transition: all 0,3s;
}
header ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-right: 20px;
    justify-content: center;
    gap: 20px;
}
header .item{
    text-decoration: none;
    color: black;
    justify-content: space-between;
}
/*Estilo de main*/
main div img{
    width: 350px;
    height: 450px;
}
main{
    margin: 30px;
    height: 50vh;
    display: grid;
}
.main .h1{
    text-align: start;
    font-size: large;
    color: black;
    text-decoration: solid;
}
.main .div .imgage-mini{
    padding: 0% 10px;
    height: 200px;
    width: 350px;
    margin: 0%;
    display: flexbox;
    flex-direction: row-reverse;
}
/*txt*/
h2{
    font-size: 25px;
    color: black;
    text-align: start;
}
h3{
    font-size: 25px;
    color: black;
    text-align: center;
}
p{
    font-size: medium;
    text-align: end;
    text-decoration: dotted;
}
.p{
    font-size: medium;
    text-align: start;
}
/*footer-redes*/
.footer .redes{
    text-align: end;
}
/*botones*/
.boton{
    color: blue;
    font-size: medium;
    font-weight: bold;
}
 /*Mochila Marron*/
.Joup .h1{
    text-align: center;
    background-color: sienna;
}
.Joup .li .sub-menu{
    color: saddlebrown;
    text-decoration: solid;
    text-align: justify;
}
.section .div .precio{
    text-align: start;
}
.Joup .img .mochila-marron{
    padding: 0% 10px;
    height: 400px;
    width: 350px;
    margin: 0%;
}
section .img{
    height: 200px;
    height: 200px;
    
}